body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

img.profile-pic-small {
    float: right;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}